# Data Wrangling — ISPU Series

In [307]:
import pandas as pd
from pandas import DataFrame
import numpy as np

## ISPU 2020

### Setup

In [382]:
# load ispu_2020.csv
ispu_2020 = pd.read_csv('ispu_2020.csv', sep=';')
ispu_2020

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202005,01/05/20,55,26,21,83,10,83,O3,SEDANG,DKI5
1,202005,02/05/20,36,22,12,80,9,80,O3,SEDANG,DKI5
2,202005,03/05/20,65,34,35,49,11,65,PM10,SEDANG,DKI5
3,202005,04/05/20,53,21,14,75,8,75,O3,SEDANG,DKI5
4,202005,05/05/20,53,22,18,73,9,73,O3,SEDANG,DKI5
...,...,...,...,...,...,...,...,...,...,...,...
361,202010,27/10/20,52,54,17,34,30,70,PM25,SEDANG,DKI4
362,202010,28/10/20,66,54,29,32,33,89,PM25,SEDANG,DKI5
363,202010,29/10/20,57,55,15,35,26,87,PM25,SEDANG,DKI4
364,202010,30/10/20,63,55,18,34,19,108,PM25,TIDAK SEHAT,DKI4
365,202010,31/10/20,45,55,15,29,20,72,NaN,SEDANG,0

### EDAs

In [383]:
# checking data types of each column

ispu_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   periode_data  366 non-null    int64
 1   tanggal       366 non-null    object
 2   pm10          366 non-null    int64
 3   so2           366 non-null    object
 4   co            366 non-null    object
 5   o3            366 non-null    int64
 6   no2           366 non-null    int64
 7   max           366 non-null    int64
 8   critical      365 non-null    object
 9   categori      366 non-null    object
 10  lokasi_spku   366 non-null    object
dtypes: int64(5), object(6)
memory usage: 31.6+ KB

In [384]:
# list of all columns with empty data, sorted by descending

ispu_2020.isna().sum()

periode_data    0
tanggal         0
pm10            0
so2             0
co              0
o3              0
no2             0
max             0
critical        1
categori        0
lokasi_spku     0
dtype: int64

In [385]:
ispu_2020['co'].unique()

array(['21', '12', '35', '14', '18', '22', '27', '20', '17', '15', '16',
       '26', '36', '28', '19', '29', '10', '13', '9', '11', '25', '39',
       '58', '41', '40', '71', '43', '31', '34', '51', '42', '---', '32',
       '52', '38', '46', '59', '63', '62', '33', '5', '6', '23', '37',
       '24', '53', '48', '50', '57', '30', '55', '75', '8', '7'],
      dtype=object)

In [386]:
ispu_2020[ispu_2020.eq('---').any(axis=1)]

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
84,202003,02/03/20,22,---,35,213,11,213,4,O3,SANGAT TIDAK SEHAT
85,202003,03/03/20,22,---,---,201,15,201,4,O3,SANGAT TIDAK SEHAT
86,202003,04/03/20,54,---,39,152,13,152,4,O3,TIDAK SEHAT
87,202003,05/03/20,59,---,32,206,5,206,4,O3,SANGAT TIDAK SEHAT
102,202003,20/03/20,69,---,33,99,7,99,4,O3,SEDANG
103,202003,21/03/20,51,---,11,83,8,83,4,O3,SEDANG
104,202003,22/03/20,42,---,15,84,6,84,4,O3,SEDANG
105,202003,23/03/20,27,---,5,71,7,71,4,O3,SEDANG
106,202003,24/03/20,52,---,14,105,7,105,4,O3,TIDAK SEHAT
107,202003,25/03/20,70,---,25,93,11,93,4,O3,SEDANG
108,202003,26/03/20,34,---,6,99,5,99,4,O3,SEDANG
109,202003,27/03/20,44,---,9,67,5,67,4,O3,SEDANG
110,202003,28/03/20,40,---,6,117,5,117,4,O3,TIDAK SEHAT

In [387]:
ispu_2020['critical'].unique()

array(['O3', 'PM10', 'PM25', '4', 'CO', 'SO2', nan], dtype=object)

In [388]:
ispu_2020['categori'].unique()

array(['SEDANG', 'TIDAK SEHAT', 'BAIK', 'O3'], dtype=object)

In [389]:
ispu_2020[ispu_2020['categori'] == 'BAIK']

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
24,202005,25/05/20,50,25,15,44,9,50,PM10,BAIK,DKI4
53,202001,01/01/20,38,36,25,46,9,46,O3,BAIK,DKI5
62,202001,10/01/20,44,37,27,47,9,47,O3,BAIK,DKI5
64,202001,12/01/20,43,38,17,46,5,46,O3,BAIK,DKI5
66,202001,14/01/20,40,32,17,48,9,48,O3,BAIK,DKI4
163,202006,03/06/20,47,21,14,48,11,48,O3,BAIK,DKI5
223,202002,09/02/20,48,30,35,50,12,50,O3,BAIK,DKI5

In [390]:
ispu_2020[ispu_2020['categori'] == 'O3']

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
84,202003,02/03/20,22,---,35,213,11,213,4,O3,SANGAT TIDAK SEHAT
85,202003,03/03/20,22,---,---,201,15,201,4,O3,SANGAT TIDAK SEHAT
86,202003,04/03/20,54,---,39,152,13,152,4,O3,TIDAK SEHAT
87,202003,05/03/20,59,---,32,206,5,206,4,O3,SANGAT TIDAK SEHAT
88,202003,06/03/20,24,17,52,95,3,95,4,O3,SEDANG
89,202003,07/03/20,34,27,40,54,7,54,4,O3,SEDANG
90,202003,08/03/20,30,24,40,58,5,58,4,O3,SEDANG
91,202003,09/03/20,52,22,38,59,7,59,4,O3,SEDANG
92,202003,10/03/20,32,21,39,43,4,43,4,O3,BAIK
93,202003,11/03/20,25,20,36,41,4,41,4,O3,BAIK
94,202003,12/03/20,34,20,46,63,4,63,4,O3,SEDANG
95,202003,13/03/20,44,19,58,72,10,72,4,O3,SEDANG
96,202003,14/03/20,32,19,51,69,6,69,4,O3,SEDANG
97,202003,15/03/20,66,22,59,179,8,179,4,O3,TIDAK SEHAT
98,202003,16/03/20,53,18,63,92,8,92,4,O3,SEDANG
99,202003,17/03/20,48,19,62,70,9,70,4,O3,SEDANG
100,202003,18/03/20,40,18,38,101,9,101,4,O3,TIDAK SEHAT
101,202003,19/03/20,45,18,35,90,6,90,4,O3,SEDANG
102,202003,20/03/20,69,---,33,99,7,99,4,O3,SEDANG
103,202003,21/03/20,51,---,11,83,8,83,4,O3,SEDANG
104,202003,22/03/20,42,---,15,84,6,84,4,O3,SEDANG
105,202003,23/03/20,27,---,5,71,7,71,4,O3,SEDANG
106,202003,24/03/20,52,---,14,105,7,105,4,O3,TIDAK SEHAT
107,202003,25/03/20,70,---,25,93,11,93,4,O3,SEDANG
108,202003,26/03/20,34,---,6,99,5,99,4,O3,SEDANG
109,202003,27/03/20,44,---,9,67,5,67,4,O3,SEDANG
110,202003,28/03/20,40,---,6,117,5,117,4,O3,TIDAK SEHAT
111,202003,29/03/20,58,11,12,124,6,124,4,O3,TIDAK SEHAT
112,202003,30/03/20,65,14,11,91,7,91,4,O3,SEDANG
113,202003,31/03/20,53,9,10,76,5,76,4,O3,SEDANG
114,202003,31/03/20,47,11,14,96,6,96,4,O3,SEDANG

In [391]:
ispu_2020[(ispu_2020['categori'] == 'SEDANG') & 
          (ispu_2020['lokasi_spku'].isin(['TIDAK SEHAT', 'SEDANG', 'BAIK', 'SANGAT TIDAK SEHAT']))]

Empty DataFrame
Columns: [periode_data, tanggal, pm10, so2, co, o3, no2, max, critical, categori, lokasi_spku]
Index: []

In [392]:
ispu_2020[(ispu_2020['categori'] == 'SANGAT TIDAK SEHAT')]

Empty DataFrame
Columns: [periode_data, tanggal, pm10, so2, co, o3, no2, max, critical, categori, lokasi_spku]
Index: []

In [393]:
ispu_2020[ispu_2020.duplicated()]

Empty DataFrame
Columns: [periode_data, tanggal, pm10, so2, co, o3, no2, max, critical, categori, lokasi_spku]
Index: []

### Steps

After conducting several EDAs, the following anomalies were identified:

- `periode_data` can be deleted since we have `tanggal`
- `tanggal` should be in datetime format
- `so2` and `co` are not in numeric format
- Several `lokasi_spku` rows contain non-location-related values
- Several `so2` rows contain `---` which prevents the column from being numeric

Required changes:

- Delete `periode_data`
- Convert `tanggal` to datetime format
- Remove rows with anomalous values in `lokasi_spku` since they are not recoverable (including rows with `---` values in the `so2` column)

In [394]:
def create_derived_time_fields(df: DataFrame) -> DataFrame:
    df['year'] = df['tanggal'].dt.year
    df['month'] = df['tanggal'].dt.month
    df['day'] = df['tanggal'].dt.day
    df['day_of_week'] = df['tanggal'].dt.dayofweek
    return df

def recalculate_max_critical(df: DataFrame, columns: list=['so2', 'co', 'no2', 'o3']) -> DataFrame:
    df['max'] = df[columns].max(axis=1)
    df['critical'] = df[columns].idxmax(axis=1)
    return df

def clean_ispu_2020(df: DataFrame) -> DataFrame:
    # delete periode_data, max, and critical columns
    if 'periode_data' in df.columns:
        df.drop('periode_data', axis=1, inplace=True)
    if 'max' in df.columns:
        df.drop('max', axis=1, inplace=True)
    if 'critical' in df.columns:
        df.drop('critical', axis=1, inplace=True)

    # convert tanggal to datetime format
    is_datetime = pd.api.types.is_datetime64_any_dtype(df['tanggal'])
    if not is_datetime:
        df['tanggal'] = pd.to_datetime(df['tanggal'], format='%d/%m/%y', dayfirst=True)

    # Remove rows with anomalous values in `lokasi_spku` since they are not recoverable (including rows with `---` values in the `so2` column)
    if 'O3' in df['categori'].unique():
        index_to_drop = df[df['categori'] == 'O3'].index
        df.drop(index=index_to_drop, inplace=True)
        df.reset_index(drop=True, inplace=True)
    
    if '0' in df['lokasi_spku'].unique():
        index_to_drop = df[df['lokasi_spku'] == '0'].index
        df.drop(index=index_to_drop, inplace=True)
        df.reset_index(drop=True, inplace=True)

    # Convert column so2 and co to int64
    df['so2'] = df['so2'].astype(int)
    df['co'] = df['co'].astype(int)

    # Rename categori to category for consistency
    df.rename(columns={'categori': 'category'}, inplace=True)

    df = create_derived_time_fields(df=df)
    df = recalculate_max_critical(df=df)

    return df

ispu_2020_cleaned = clean_ispu_2020(df=ispu_2020)
ispu_2020_cleaned.to_csv('ispu_2020_cleaned.csv')
ispu_2020_cleaned.head(10)

,tanggal,pm10,so2,co,o3,no2,category,lokasi_spku,year,month,day,day_of_week,max,critical
0,2020-05-01,55,26,21,83,10,SEDANG,DKI5,2020,5,1,4,83,o3
1,2020-05-02,36,22,12,80,9,SEDANG,DKI5,2020,5,2,5,80,o3
2,2020-05-03,65,34,35,49,11,SEDANG,DKI5,2020,5,3,6,49,o3
3,2020-05-04,53,21,14,75,8,SEDANG,DKI5,2020,5,4,0,75,o3
4,2020-05-05,53,22,18,73,9,SEDANG,DKI5,2020,5,5,1,73,o3
5,2020-05-06,52,22,14,63,7,SEDANG,DKI5,2020,5,6,2,63,o3
6,2020-05-07,67,24,18,69,9,SEDANG,DKI5,2020,5,7,3,69,o3
7,2020-05-08,91,22,18,120,10,TIDAK SEHAT,DKI5,2020,5,8,4,120,o3
8,2020-05-09,77,22,22,75,12,SEDANG,DKI4,2020,5,9,5,75,o3
9,2020-05-10,72,23,27,81,15,SEDANG,DKI5,2020,5,10,6,81,o3

## ISPU 2022

### Setup

In [416]:
# load ispu_2022.csv
ispu_2022 = pd.read_csv('ispu_2022.csv', sep=';')
ispu_2022.head()

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202212,44.926.625,54,73,56,24,23,24,73,"PM2,5",SEDANG,DKI4
1,202212,30/12/22,40,64,57,21,17,24,64,"PM2,5",SEDANG,DKI4
2,202207,06/07/22,75,129,45,25,71,26,129,"PM2,5",TIDAK SEHAT,DKI4
3,202207,05/07/22,66,110,47,16,61,23,110,"PM2,5",TIDAK SEHAT,DKI4
4,202207,04/07/22,56,78,49,11,60,13,78,"PM2,5",SEDANG,DKI4

### EDAs

In [360]:
ispu_2022

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202212,44.926.625,54,73,56,24,23,24,73,"PM2,5",SEDANG,DKI4
1,202212,30/12/22,40,64,57,21,17,24,64,"PM2,5",SEDANG,DKI4
2,202207,06/07/22,75,129,45,25,71,26,129,"PM2,5",TIDAK SEHAT,DKI4
3,202207,05/07/22,66,110,47,16,61,23,110,"PM2,5",TIDAK SEHAT,DKI4
4,202207,04/07/22,56,78,49,11,60,13,78,"PM2,5",SEDANG,DKI4
...,...,...,...,...,...,...,...,...,...,...,...,...
360,202207,11/07/22,66,112,47,15,84,29,112,"PM2,5",TIDAK SEHAT,DKI4
361,202207,10/07/22,63,93,47,13,84,19,93,"PM2,5",SEDANG,DKI4
362,202207,09/07/22,61,93,48,13,107,25,107,O3,TIDAK SEHAT,DKI2
363,202207,08/07/22,55,80,48,17,95,25,95,O3,SEDANG,DKI2
364,202207,07/07/22,94,135,46,29,74,44,135,"PM2,5",TIDAK SEHAT,DKI3

In [361]:
ispu_2022['categori'].unique()

array(['SEDANG', 'TIDAK SEHAT', 'BAIK'], dtype=object)

In [362]:
ispu_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   periode_data    365 non-null    int64
 1   tanggal         365 non-null    object
 2   pm_10           365 non-null    int64
 3   pm_duakomalima  365 non-null    int64
 4   so2             365 non-null    int64
 5   co              365 non-null    int64
 6   o3              365 non-null    int64
 7   no2             365 non-null    int64
 8   max             365 non-null    int64
 9   critical        364 non-null    object
 10  categori        365 non-null    object
 11  lokasi_spku     365 non-null    object
dtypes: int64(8), object(4)
memory usage: 34.3+ KB

In [363]:
ispu_2022[ispu_2022['lokasi_spku'] == '0']

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku
300,202205,31/05/22,63,100,44,44,59,44,100,NaN,SEDANG,0

In [364]:
ispu_2022.isna().sum()

periode_data      0
tanggal           0
pm_10             0
pm_duakomalima    0
so2               0
co                0
o3                0
no2               0
max               0
critical          1
categori          0
lokasi_spku       0
dtype: int64

In [365]:
ispu_2022[ispu_2022.duplicated()]

Empty DataFrame
Columns: [periode_data, tanggal, pm_10, pm_duakomalima, so2, co, o3, no2, max, critical, categori, lokasi_spku]
Index: []

### Steps

After conducting several EDAs, the following anomalies were identified:

- Inconsistent naming of `pm_duakomalima`
- Impractical `periode_data`
- Non-numeric format of `tanggal`
- Unknown value in one row of `lokasi_spku`

Required changes:

- Rename `pm_duakomalima` to `pm2.5`
- Remove the entire `periode_data` column
- Convert `tanggal` data type to datetime
- Delete the row containing the unknown value in `lokasi_spku`
- Recalculate the values of `max` and `critical`

In [421]:
def clean_ispu_2022(df: DataFrame) -> DataFrame:
    df_copy = df.copy()

    # rename pm_duakomalima to pm2.5
    df_copy.rename(columns={'pm_duakomalima': 'pm_2.5', 'categori': 'category'}, inplace=True)

    # remove the entire periode_data column
    if 'periode_data' in df_copy.columns:
        df_copy.drop(columns=['periode_data'], inplace=True)
    
    # convert tanggal data type to datetime
    df_copy.drop(index=[0], inplace=True)
    df_copy['tanggal'] = pd.to_datetime(df_copy['tanggal'], format='%d/%m/%y', dayfirst=True)

    # delete the row containing the unknown value in lokasi_spku
    df_copy.drop(index=df_copy[df_copy['lokasi_spku'] == '0'].index, inplace=True)
    df_copy.reset_index(drop=True, inplace=True)

    df_copy = create_derived_time_fields(df=df_copy)
    df_copy = recalculate_max_critical(df=df_copy, columns=['so2', 'co', 'pm_10', 'pm_2.5', 'no2', 'o3'])
    
    return df_copy

ispu_2022_cleaned = clean_ispu_2022(df=ispu_2022)
ispu_2022_cleaned.to_csv('ispu_2022_cleaned.csv')